*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.img-fondo {
    background-image: url(../image/casa/28.jpg) ;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
    }

.derecha {
    margin-left: 890px;
    margin-top: 10px;
}

header{
    width: 100%;
    height: 60px;
    background: black;
}

.container-header{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.logo-title img{
    width: 90px;
    margin-top: 3px;
    margin-left: 1px;
}


.icon-menu1{
    position: absolute;
    right: 10px;
    top: 14px;
    color: white;
    font-size: 28px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.icon-menu:hover{
    background: rgba(255, 255, 255, 0.4);
}



.borde {
    color: #3498db;
}

.cont {
    background-color: #3498db;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    
}

.espacio-top{
  
    margin-bottom: 340px;
}


/*Portada*/



.container-portada{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(../image/1.jpg);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;  
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}


.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}


.details{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

.details h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
    text-shadow: 2px 2px 2px #101010;
}

.details p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
    text-shadow: 2px 2px 2px #101010;

}

.details button{
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
    margin-left: 10px;
}




/*Articulo*/

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

article{
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding-right: 20px;
}

article h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
    color: #142F57;
    text-shadow: 2px 2px 2px #e9f3f5 ;
}

.medio{
  text-align: center;
}
.posicion{
height: 150px;
  left: 0;
  position: relative;
  top: -320px;
  width: 150px;
  margin-left: 30px;
}
.cuadro{
    width: 460px; 
    height: 180px; 
    border: 5px solid #142F57;
    margin-left: 380px;
    border-radius: 5px;
  }
  .cuadro2{
    width: 400px; 
    height: 320px; 
    border: 5px solid #142F57;
    margin-left: 380px;
    border-radius: 5px;
    margin-left: 800px;
    margin-top: 80px;
  }

  .cuadro3{
    width: 220px; 
    height: 470px; 
    border: 5px solid #142F57;
    border-radius: 5px;
    margin-left: 500px;
  }

 .cuadro h1{
    margin-top: 20px;
}



article hr{
    max-width: 640px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, black, #0672d0);
    margin-top: 10px;
    margin-left: 10px;
}



article p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 10px;
    text-shadow: 2px 2px 2px #e9f3f5 ;
}



@media screen and (max-width: 500px){
    .details p{
        font-size: 18px;
    }
}




/*Articulodos*/

main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

articledos{
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding-right: 20px;
}

articledos h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
    color: #142F57;
    text-shadow: 2px 2px 2px #e9f3f5 ;
}

articledos hr{
    max-width: 377px;
    height: 4px;
    border-style: none;
    background: -webkit-linear-gradient(left, black, #0672d0);
    margin-top: 10px;
    margin-left: 10px;
}



articledos p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    margin-left: 10px;
    text-align: center;
}



@media screen and (max-width: 500px){
    .details p{
        font-size: 18px;
    }
}

.negro{
  color: #101010;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    background-color: #e9f3f5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
     padding: 30px;
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.tamaño{
    height: 300px;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    background: #202020;
    color: white;     
}

footer i{
    padding: 6px;
        
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 65px;
    margin-right: 10px;
    
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
    color: #C7C7C7;
}

.colum3 h1{
    font-size: 22px;
}

.colum3 a{
    color: #C7C7C7;
}


.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}
.espacio{
    padding: 11px 17px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

i:hover{
    color:#4d0686;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


/* Galeria */


.portafolio{
    
    margin-bottom: 10px;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(6, 75, 132, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 250px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}



@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}



/* Menu */

.menues{
    width: 100%;
    height: 60px;
    background-color: #101010;
    position: fixed;
    z-index: 100;
}

.img-logo{
    width: 50px;
    margin-right: 770px;
}

.menu1{
    width: auto;
    float:right;
    margin-top: 19px;
    margin-right: 10%;
    
}

.menu1 ul{
    display: flex;
    margin-top: -70px;
}
.menu1 li{
    list-style: none;
}

.menu1 li a{
    padding: 9px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #b7b7b7;
}

.menu1 li a:hover{
    color: white;
}

#check{
    display: none;
}
.icon-menu1{
    display: none;
}

#check:checked ~ .menu1{
    height: 174px;
}

@media screen and (max-width:900px){
    .icon-menu1{
        display: block;
        color: white;
        float: right;
        padding: 5px;
        font-size: 24px;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        margin-top: 10px;
        margin-right: 16px;
    }
    .icon-menu1:hover{
        background: #3f3f3f;
        cursor: pointer;
    }
    .menu1{
        float: left;
        margin-top: 0px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        background: #1e1e1e;
        transition: all 300ms;
    }
    
    .menu1 ul{
        flex-direction: column;
    }
    .menu1 li a{
        display: block;
    }
}
































